@model SklepKomputerowy.Data.Data.Sklep.Zamowienie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Zamowienie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataZamowienia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataZamowienia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Login)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Login)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ulica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ulica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Miasto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Miasto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumerDomu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumerDomu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KodPocztowy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KodPocztowy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumerTelefonu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumerTelefonu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Razem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Razem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDKraju)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDKraju)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdZamowienia">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
