@model IEnumerable<SklepKomputerowy.Data.Data.Sklep.Zamowienie>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.DataZamowienia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazwisko)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ulica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Miasto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumerDomu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KodPocztowy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumerTelefonu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Razem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDKraju)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataZamowienia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazwisko)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ulica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miasto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumerDomu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KodPocztowy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumerTelefonu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Razem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDKraju)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdZamowienia">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdZamowienia">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdZamowienia">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
